<div class="container">
  <h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-lg-8">
      <h4><%= product.name %></h4>
      <h5><%= product.food_type %></h5>
      <p><%= truncate(product.description, length: 250, escape: false) %></p>
      <%= link_to 'read more', product, class: "btn btn-warning btn-sm" %>
      <%= link_to 'Show', product, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_product_path(product), class: "btn btn-info" %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <hr>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'New Product', new_product_path, class: "btn btn-default" %>
</div>